.body {
    
    height: 100vh;
    background-image: linear-gradient(rgb(60, 60, 60),#070707);
     margin-left: 230px;
    width: -webkit-fill-available;
    overflow-y: overlay;
}

.header {
   
    position: fixed;
    background-color: #222222;
    
}
.content {
    margin-top: 40px;
    width: 100%;
    
}