.songRow {
    margin-left: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
 
}

.songRow, img {
margin-left: 10px;
}

.songRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
    transform: scale(1.1);
    margin-left: 80px;
 
}

.infoSong h1 {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
}
.infoSong p {
    font-size: 14px;
    margin-top: 3px;
    color: white;
    text-align: left;
    margin-left: 10px;
    opacity: 0.6;
}
